@model VisugMovies.ViewModels.GenreDetailViewModel

<div class="row row-margin">
    <label asp-for="Name">Name: </label>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
        <input asp-for="Name" class="form-control" />
    </div>
</div>

<br />

<div class="row row-margin">
    <button type="submit" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        Opslaan
    </button>
</div>